.toolbar-icon{
    padding: 0 14px;
}
.toolbar-spacer{
    flex: 1 1 auto;
}
.logo-cabecalho{

}
.mat-toolbar{
    background-image: repeating-linear-gradient(var(--main-bg-color-primary), white, var(--main-bg-color-secondary), var(--main-bg-color-primary) );
}
.barra-de-tarefas{
    padding: 0 0px;
    background-size: 100%;
    color: var(--main-bg-color-secondary);
    background-image: linear-gradient(to right, var(--main-bg-color-secondary), var(--main-bg-color-primary));
}
.section{
    font-size: smaller;
}