<mat-toolbar class="barra-de-tarefas">
    <span class="logo-cabecalho">
        <img alt="JP-lost" src="../../assets/img/lost-img.jpg" width="50%" height="50%">
    </span>
    <span fxLayout="row" fxLayoutAlign="space-around center">
        <H1>Lost-Versão 01.2020</H1>
    </span>
    <span fxLayout="row" fxLayoutAlign="space-around center" *ngIf="autenticado()">
        <mat-icon class="toolbar-icon">{{icon}}</mat-icon>
        <H1>{{title}}</H1>
    </span>
    <span class="toolbar-spacer"></span>
        <section *ngIf="autenticado()">  
                Olá, {{user}}
        </section>
    <a (click)="sair()" style="cursor: pointer" alt="Sair" title="sair" *ngIf="autenticado()">
        <mat-icon class="toolbar-icon" matTooltip="Sair">exit_to_app</mat-icon>
    </a>
    <a (click)="login()" style="cursor: pointer" alt="Fazer login" title="login" *ngIf="!autenticado()">
        <mat-icon class="toolbar-icon" matTooltip="Fazer login">account_circle</mat-icon>
    </a>
</mat-toolbar>

<mat-toolbar class="mat-elevation-z8" *ngIf="autenticado()">
    <button mat-button (click)='irParaHome()'>Home</button>
    <button mat-button [matMenuTriggerFor]="clienteMenu">Cliente</button>
    <mat-menu #clienteMenu="matMenu" xPosition="after">
      <button mat-menu-item (click)='irParaCadastrar()'>Cadastrar</button>
      <button mat-menu-item (click)='irParaListarClientes()'>Listar todos</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="userMenu">Usuário</button>
    <mat-menu #userMenu="matMenu" xPosition="after">
      <button mat-menu-item (click)='irParaUsuarios()'>Painel de vendas</button>
      <button mat-menu-item (click)='irParaUsuarios()'>Dashboard</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="aboutMenu">Sobre</button>
    <mat-menu #aboutMenu="matMenu" xPosition="after">
      <button mat-menu-item (click)='irParaCadastrar()'>Perfil</button>
      <button mat-menu-item (click)='irParaListarClientes()'>Info</button>
    </mat-menu>
</mat-toolbar>