.mat-list{
    padding: 30px;
    /*height: 300px;*/
    border-style: ridge;
    margin-top: 30px;
    background-image: repeating-linear-gradient(#b4fce6,#00082b);

}
.mat-list-item{
    align-items: center;
    width: 100%;
}