  .mat-form-field{
    margin-top: 20px;
    margin-left: 20px;   
    padding: 0px;
    width: 40%;
  }
  .search{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    align-self: center   
  }

