<div *ngIf="spinnerVisible" class="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="mat-elevation-z8">
  <div class="search">
    <mat-form-field>
      <mat-label>Buscar Cliente</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ana">
    </mat-form-field>
    <mat-icon inline=true>search</mat-icon>
  </div>
  <div class="table-clientes">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome do cliente </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.nome}} </td>
      </ng-container>
      <ng-container matColumnDef="apelido">
        <th mat-header-cell *matHeaderCellDef> Apelido do cliente </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.apelido}} </td>
      </ng-container>
      <ng-container matColumnDef="debito">
        <th mat-header-cell *matHeaderCellDef> Débito atual </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.debito}} </td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Opções </th>
        <td mat-cell *matCellDef="let cliente">
          <button mat-icon-button matTooltip="Realizar compras para este cliente"
            aria-label="Realizar compras para este cliente" [routerLink]="['../compras/', cliente.id]">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Editar dados do cliente"
            aria-label="Editar dados do cliente" 
            [routerLink]="['editar/', cliente.id]">
            <mat-icon>contact_mail</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Visualizar compras do cliente"
          aria-label="Visualizar compras do cliente" 
          [routerLink]="['../compras/cliente/', cliente.id]">
          <mat-icon>pageview</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Visualizar compras quitadas do cliente"
          aria-label="Visualizar compras do cliente" 
          [routerLink]="['../compras/cliente/quit', cliente.id]">
          <mat-icon>home</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Visualizar compras em aberto do cliente"
          aria-label="Visualizar compras do cliente" 
          [routerLink]="['../compras/cliente/noquit', cliente.id]">
          <mat-icon>print</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Realizar pagamento parcial"
            aria-label="Realizar pagamento parcial">
            <mat-icon>money</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Quitar conta do cliente"
            (click)="quitar($event, cliente.id, cliente.nome)" aria-label="Quitar conta do cliente">
            <mat-icon>money</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Imprimir compras do cliente"
            aria-label="Imprimir compras do cliente">
            <mat-icon>print</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
</div>